# PostgreSQL
POSTGRES_DB=archivage_elec
POSTGRES_USER=archivage_user
POSTGRES_PASSWORD=CHANGEZ_MOI_DB

# Redis
REDIS_PASSWORD=CHANGEZ_MOI_REDIS

# MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=CHANGEZ_MOI_MINIO

# JWT — générer avec : openssl rand -base64 64
JWT_SECRET=CHANGEZ_MOI_JWT_SECRET_TRES_LONG

# App
APP_URL=http://localhost
API_URL=http://localhost/api
